<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.elon.cs.nfcbulletin" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ScanNFCActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EnterTextActivity"
            android:label="@string/title_activity_enter_text" >
        </activity>
        <activity
            android:name=".ViewTagContentActivity"
            android:label="@string/title_activity_view_tag_content"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EditOrDeleteActivity"
            android:label="@string/title_activity_edit_or_delete" >
        </activity>
        <activity
            android:name=".WriteNoteActivity"
            android:label="@string/title_activity_write_note" >
        </activity>
    </application>

</manifest>
